<div id="<%= dom_id post %>">
  <div>
    <strong>Caption:</strong>
    <%= post.caption %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= post.body %>
  </div>

  <div>
    <strong>Tags:</strong>
    <%= post.tags %>
  </div>

</div>
